body {
	background-color: white;
	margin: 20px 30px 30px 15px
	}

header {
	background-color: #767676; 
	height: 150px; 
	margin: auto;
	}

p {
	background-color: #838283;
	height: 15px; 
	margin: auto;
	}


aside {
	background-color: #333333;
	width: 20%;
	height: 300px; 
	float: left;
}

section {
	background-color:#D2D0D2 ;
	width: 80%;
	height: 300px; 
	float: right;
	
}

footer {
	background-color: #767676; 
	height: 150px; 
	margin: auto;
	clear: both;
}
